.navbar .nav-link,
.navbar-vertical .navbar-nav .nav-link{
    color: #344767;
}

#sidenav-main{
    background-color: #fff;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active{
    background-color: var(--primary-color);
}

.navbar-brand-img{
    min-height: 60px;
    width: auto;
    object-fit: contain;
    margin: auto;
    text-align: center;
}

.sidenav-header{
    height: auto;
}